<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Susan's Flask App</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-400 p-4">
<div class="flex justify-center items-center h-screen">
    <div class="max-w-screen-md mx-auto bg-blue-200 p-4 shadow-md">
        <h1 class="text-2xl font-bold mb-4 text-center">Cloud CDN Hosted Video</h1>
        <video src="https://budgie-video.azureedge.net/504cdn/2637.mp4" alt="Video" controls height='400' width='700'></video>
    </div>
</div>
</body>
</html>
